@import url("https://fonts.googleapis.com/css2? family= Hubballi & family= Poppins:ital,wght@0,700;1,400 & display=swap");

:root {
  --azul-dnc: #0c70f2;
  --preto-dnc: #303030;
  --cinza-hover: #c9c9c9;
  --fonte-padrao: "inter";
}
body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
      180deg,
      rgba(12, 112, 242, 0.5) 19.91% rgba(12, 112, 242, 0) 24.84%
    )
    #303030;
  background-repeat: no-repeat;
}
#principal {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  background-color: var(--preto-dnc);
  display: flex;
  justify-content: space-between;
}
#menu {
  display: flex;
  width: 45%;
  justify-content: space-around;
  align-items: center;
  margin-left: 5%;
}
#principal div a {
  font-family: var(--fonte-padrao);
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  align-items: center;
  border-bottom: 1px solid #bababa;
}
#principal div a:houver {
  color: var(--cinza-hover);
}
#principal button {
  margin: right 5%;
  background-color: var(--azul-dnc);
  border: 0px;
  height: 40px;
  width: 80px;
  font-family: var(--fonte-padrao);
  font-size: 20px;
  font-weight: 600;
  color: white;
  box-shadow: 3px 2px 4px rgba(12, 112, 242);
  cursor: pointer;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
header {
  color: black;
  font-family: var(--fonte-padrao);
}
header h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}
header h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 100px;
}
header .invert {
  background-color: #303030;
  font-weight: bold;
  padding: 5px;
}
form {
  color: blue;
  font-family: var(--fonte-padrao);
  font: size 30px;
  font-weight: 600;
  width: 600px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
form input {
  border-radius: 10px;
  height: 30px;
  border: 0px;
  font-size: 20px;
  padding: 10px;
  background-color: rgba (255, 255, 255, 0.9);
}
form label {
  margin: 10px 0px 10px 0px;
}
form input::placeholder {
  color: rgba(57, 57, 57, 0.5);
}
.checkbox-itens label {
  font-size: 25px;
}
.checkbox-itens {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input[type="checkbox"] {
  transform: scale(1.7);
}
input[type="submit"] {
  background-color: #0c70f2;
  width: 100%;
  height: 56px;
  font-size: 32px;
  color: black;
  margin-top: 100px;
  box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.5);
  cursor: pointer;
}
footer {
  width: 100%;
  background-color: #0c70f2;
}
footer .linha1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 330px;
}
footer h5 {
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 18px;
  font-family: var(--fonte-padrao);
  background-color: black;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin bottom:15px;
}
footer ul li {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 18px;
  font-family: var(--fonte-padrao);
  margin: 20px 0px 20px 0px;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li a:houve{
  color: black;
}
footer .endereco {
  font-weight: 600;
  font-size: 18px;
  font-family: var(--fonte-padrao);
  color: white;
  text-align: center;
  width: 20%;
}
footer .linha2{
  height: 35px;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 10px;
}
footer .linha2 a{
  font-family: var(--fonte-padrao);
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 5px;
}
footer .linha2 a:first-child{
  border-right: 3px solid white;
}
footer .linha2 a:houve{
  color: black;
}
@midia only screen and (max-width: 600px){
  #principal{
    flex-direction: column;
    height:auto;
  }
  #menu{
    flex-direction: column;
    width:100%;
    margin:0px;
  }
  #menu a{
    display:flex;
    align-items:center;
    height: 50px;
  }
  #principal button{
    width: 100%;
    margin:0px;
  }
  section h1{
    font: size 38px;
  }
  section h2{
    font: size 28px;
    padding-right:15px;
    padding-left: 15px;
  }
  form{
    width: 95%;
    font-size: 20px;
  }
  .checkbox-itens label{
    font-size: 17px;
  }
  footer .linha1{
    flex-direction: column;
  }
  footer .endereco{
    width: 95%;
    margin-bottom: 20px;
  }
}